* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    outline: none;
}

/* header */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.logo-img {
    width: 190px;
    margin-left: 150px;
}



.container {
    position: absolute;
    transition: var(--animation-speed) transform;
    top: 15px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.banner-content {
    background-image: url(./images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 300px;
    padding-bottom: 50px;
    color: white;
    text-align: center;
}

.p-title {
    margin-top: 0;
}

.p-desc {
    width: 42%;
    margin: 40px auto;
    line-height: 25px;
    letter-spacing: 0.5px;
}

.red-button {
    border: none;
    border-radius: 23px;
    padding: 15px 30px;
    background-color: #FF6565;
    margin: 20px 40px;
}

.red-button:hover {
    background-color: #dc2222;
}

input[type="checkbox"] {
    display: none;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    margin-left: 20px;
    color: #fff;
}

.menu ul li a:hover {
    color: #FF6565;
}

@media (max-width: 468px) {
    input[type="checkbox"] {
        display: inline-block;
    }

    .menu ul {
        display: none;
        position: absolute;
        text-align: center;
        width: 100%;
        left: -30px;
    }

    .menu ul li {
        padding: 20px;
        color: #fff;
    }

    #menu-toggle:checked~.menu ul {
        display: block;
    }

    .p-desc {
        width: 90%;
    }

    .container {
        /* flex-direction: column; */
        justify-content: center;
        /* align-items: center; */
    }

    header {
        position: absolute;
        left: 30px;
        width: calc(100% - 30px);
    }

    .logo-img {
        margin-left: 0;
    }

    .hamburger-menu {
        display: block;
        --height: 3px;
        --space: calc(var(--height) * 2.5);
        --animation-speed: 300ms;

        width: calc(var(--space) * 4);
        height: calc(var(--height) + (var(--space) * 2));
        cursor: pointer;

        span,
        span::before,
        span::after {
            content: '';
            display: block;
            height: var(--height);
            width: 100%;
            background-color: #fff;
        }

        span {
            transform: translateY(var(--space));
            transition: var(--animation-speed) var(--animation-speed) background-color;

            &::before {
                position: absolute;
                bottom: var(--space);
                transition: var(--animation-speed) transform, var(--animation-speed) var(--animation-speed) bottom;
            }

            &::after {
                position: absolute;
                top: var(--space);
                transition: var(--animation-speed) transform, var(--animation-speed) var(--animation-speed) top;
            }
        }
    }

    #menu-toggle {
        display: none;

        &:checked+.hamburger-menu {
            span {
                background: transparent;
                transition: var(--animation-speed) background-color;

                &::before {
                    transform: rotate(-45deg);
                    bottom: 0;
                    transition: var(--animation-speed) var(--animation-speed) transform, var(--animation-speed) bottom;
                }

                &::after {
                    transform: rotate(45deg);
                    top: 0;
                    transition: var(--animation-speed) var(--animation-speed) transform, var(--animation-speed) top;
                }
            }
        }
    }

    .hamburger-menu a {
        color: white;
        padding: 20px;
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .logo-img {
        margin-left: 0;
    }


    .p-desc {
        width: 95%;
    }
}

/* Waht We Do Section*/


.what-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
}

.what-section h1 {
    color: #2C3E50;
    font-size: 2.5em;
    margin-top: 80px;
    margin-bottom: 40px;
}


.what-p {
    color: #7f8c8d;
    font-size: 1.1em;
    max-width: 760px;
    margin: 0 auto 80px;
    line-height: 1.6;
}

.what-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto 60px;
    gap: 20px;
}

.card-div {
    width: 22%;
    padding: 20px;

    text-align: center;
}

.card-div img {
    max-width: 100%;
    height: 60px;
    margin-bottom: 15px;
}

.card-div h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-div p {
    color: #262929;
    font-size: 0.9em;
}

@media (max-width: 768px) and (min-width: 480px) {
    .card-div {
        width: 45%;
    }
}

@media (max-width: 480px) {

    .what-section h1 {
        color: #2C3E50;
        font-size: 2em;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .what-p {
        color: #7f8c8d;
        font-size: 1.1em;
        max-width: 100%;
        margin: 0 auto 80px;
        line-height: 1.6;
    }

    .card-div {
        width: 100%;
    }
}

/* Our results  */

.our-section {
    background: url(./images/background-our.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 60px;
}

.our-section,
h1 p {
    color: white;
}

.our-section p {
    padding: 60px;
    max-width: 800px;
}

.card-our {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.second-div {
    width: 22%;
    padding: 0 10px;
}

.second-div img {
    width: 100%;
}

@media (max-width: 768px) {
    .second-div {
        width: 45%;
        padding: 0 25px;
    }
}

@media (max-width: 480px) {
    .second-div {
        width: 100%;
    }

    .our-section p {
        padding: 15px;
    }
}

/* Contact us */
.contact-section h1 {
    margin-top: 100px;
    text-align: center;
}

form {
    max-width: 335px;
    padding: 30px 0 0 0;
    margin: auto;
}


form .input-data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

form .textarea {
    height: 70px;
}

.input-data input,
.textarea textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
    transform: translateY(-20px);
    font-size: 14px;
    color: #3498db;
}

.textarea textarea {
    resize: none;
    padding-top: 10px;
}

.input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.textarea label {
    width: 100%;
    bottom: 40px;
}

.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before,
.textarea textarea:focus~.underline:before,
.textarea textarea:valid~.underline:before {
    transform: scale(1);
}

.submit-btn .input-data {
    overflow: hidden;
    height: 45px !important;
    width: 25% !important;
}


@media (max-width: 768px) {
    .container .text {
        font-size: 30px;
    }

    .container form {
        padding: 10px 0 0 0;
    }


    form .input-data {
        margin: 35px 0 !important;
    }

}

/* Footer Section */
footer {
    
    background-color: #071629;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    margin-left: 80px;
    margin-right: 80px;
}

footer p {
    color: #fff;
   text-align: center;
}


@media (max-width: 768px){
    .footer-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo{
        padding: 20px 0;
    }
}